---
layout: default
---

{% assign author = site.authors[page.author] %}
<article class="card js-card card--article card--has-footer post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">

  <div class="card__content">

    <header>

      <h1 class="card__content__title js-prerender-title post__title" itemprop="headline">
        {{ page.title }}
      </h1>

      <div class="card__content__subtitle">

        <span class="user-attribution user-attribution--nano" itemprop="author" itemscope itemtype="http://schema.org/Person">
          {% if author.gravatar %}
            <span class="card--author__image">
              <img alt="{{ author.display_name }}" class="user-attribution__avatar" src="//www.gravatar.com/avatar/{{ author.gravatar }}?s=20" srcset="//www.gravatar.com/avatar/{{ author.gravatar }}?s=40 2x" itemprop="image" />
            </span>
          {% endif %}
          <span class="user-attribution__source">by</span>
          <span class="user-attribution__username" itemprop="name">{{ author.display_name }}</span>
        </span>
      </div>

    </header>

    <div class="card__content__body" itemprop="articleBody">
      {{ content }}
    </div>

    {% if author.gravatar or author.web or author.twitter or author.github %}
    <div class="card--author" itemprop="author" itemscope itemtype="http://schema.org/Person">

      {% if author.gravatar %}
        <span class="card--author__image">
          <img src="//www.gravatar.com/avatar/{{ author.gravatar }}?s=64" itemprop="image" />
        </span>
      {% endif %}

      {% if author.web %}<a href="{{ author.web }}" itemprop="url" target="_blank">{% endif %}
      <span itemprop="name" class="card--author__name">{{ author.display_name }}</span>
      {% if author.web %}</a>{% endif %}

      <dl class="card--author__links">
        {% if author.twitter %}
          <dt>Twitter</dt>
          <dd><span class="twitter"><a href="http://twitter.com/{{ author.twitter }}" itemprop="url" target="_blank">@{{ author.twitter }}</a></span></dd>
        {% endif %}
        {% if author.github %}
          <dt>Github</dt>
          <dd><span class="github"><a href="https://github.com/{{ author.github }}" itemprop="url" target="_blank">{{ author.github }}</a></span></dd>
        {% endif %}
      </dl>

    </div>
    {% endif %}

    <footer class="card__footer">
      <div class="share split--left">
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="lphackpackers">Tweet</a>
        <script>
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
        </script>
      </div>

      <span class="split--right">
        Published <time class="post__meta--date" itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}</time>
      </span>
    </footer>

  </div>

</article>
<aside class="card js-card post post--comments">
  <div class="card__content">

    <div id="disqus_thread"></div>
    <script type="text/javascript">
      var disqus_shortname = 'lptechblog';
      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>

  </div>
</aside>